
            #answer1{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 5px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                flex-grow: 1;
                width:200px;
            }
            #answer1:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer2{background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                flex-grow: 1;
                width:200px;
            }
            #answer2:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer3{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                flex-grow: 1;
                width:200px;
            }
            #answer3:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer4{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                flex-grow: 1;
                width:200px;
            }
            #answer4:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer5{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                flex-grow: 1;
                width:200px;
            }
            #answer5:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer6{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                flex-grow: 1;
                width:200px;
            }
            #answer6:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer7{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                flex-grow: 1;
                width:200px;
            }
            #answer7:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer8{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                flex-grow: 1;
                width:200px;
            }
            #answer8:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer9{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                flex-grow: 1;
                width:200px;
            }
            #answer9:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer10{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                width:200px;
                flex-grow: 1;
            }
            #answer10:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer11{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                width:200px;
                flex-grow: 1;
            }
            #answer11:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer12{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;
                padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                width:200px;
                flex-grow: 1;
            }
            #answer12:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer13{
                background-color: rgba(46, 46, 46, 0.5);
                border-radius: 6px;padding: 3px;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                width:200px;
                flex-grow: 1;
            }
            #answer13:hover{background-color: rgba(82, 82, 82, 0.5);}