
            #answer1{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
            #answer1:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer2{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
            #answer2:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer3{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
                #answer3:hover{background-color: rgba(82, 82, 82, 0.5);}
                #answer4{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
                #answer4:hover{background-color: rgba(82, 82, 82, 0.5);}
                #answer5{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
                #answer5:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer6{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
            #answer6:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer7{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
            #answer7:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer8{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
            #answer8:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer9{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
            #answer9:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer10{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
            #answer10:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer11{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
            #answer11:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer12{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
            #answer12:hover{background-color: rgba(82, 82, 82, 0.5);}
            #answer13{background-color: rgba(46, 46, 46, 0.5);width: 100%;border-radius: 6px;padding: 3px;
                margin-bottom: 10px;font-family: 'Roboto', sans-serif;font-size: 1.2em;transition-duration: 0.3s;}
            #answer13:hover{background-color: rgba(82, 82, 82, 0.5);}